{% extends 'authenticated/base_authenticated.html' %}
{% block content %}
    <a href="{% url "database_new" %}">New</a>
    <table id="data-table" class="display">
        <thead>
        <tr>
            <td>Application</td>
            <td>Environment</td>
            <td>Version</td>
            <td>Storage Model</td>
            <td>Flavor</td>
        </tr>
        </thead>
        <tbody>
        {% for model in models %}
            <tr ondblclick='window.location.href = "{% url 'database_edit' model_id=model.id %}"'>
                <td>{{ model.application.name }}</td>
                <td>{{ model.type_environment }}</td>
                <td>{{ model.version }}</td>
                <td>{{ model.type_data_storage_form }}</td>
                <td>{{ model.type_database_flavor }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <script>
        $(document).ready(function() {
            $('#data-table').DataTable({"pageLength": 100});
        });
    </script>
{% endblock %}
