asgiref==3.8.1
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
cryptography==44.0.1
Django==5.1.7
django-auth-ldap==5.1.0
django-environ==0.12.0
django-generic-model-fields==2.0.0
django-hijack==3.7.1
django-humanize==0.1.2
django-simple-history==3.8.0
et_xmlfile==2.0.0
humanize==4.12.1
idna==3.10
Markdown==3.7
openpyxl==3.1.5
pip-autoremove==0.10.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.22
python-gitlab==5.6.0
python-ldap==3.4.4
requests==2.32.3
requests-toolbelt==1.0.0
setuptools==75.8.2
sqlparse==0.5.3
urllib3==2.3.0
