{% extends 'authenticated/base_authenticated.html' %}
{% block content %}
    <a href="{% url "person_new" %}">New</a>
    <table id="data-table" class="display">
        <thead>
        <tr>
            <td>Last</td>
            <td>First</td>
            <td>Job Level</td>
            <td>Job Title</td>
            <td>GitLab</td>
            <td>SharePoint</td>
        </tr>
        </thead>
        <tbody>
        {% for model in models %}
            <tr ondblclick='window.location.href = "{% url 'person_edit' model_id=model.id %}"'>
                <td>{{ model.name_last }}</td>
                <td>{{ model.name_first }}</td>
                <td>{{ model.type_job_level }}</td>
                <td>{{ model.type_job_title }}</td>
                <td>
                    {% if model.gitlab_sync_username %}
                        <a href="https://{{ hostname_gitlab }}/{{ model.gitlab_sync_username }}" target="_blank">
                            {{ model.gitlab_sync_username }}
                        </a>
                    {% else %}
                        <div></div>
                    {% endif %}
                </td>
                <td>
                    {% if model.link_sharepoint_profile %}
                        <a href="{{ model.link_sharepoint_profile }}" target="_blank">SharePoint</a>
                    {% else %}
                        <div></div>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <script>
        $(document).ready(function () {
            $('#data-table').DataTable({"pageLength": 100});
        });
    </script>
{% endblock %}
