{% extends 'authenticated/dependency/base_dependency.html' %}
{% block content %}
    <table id="data-table" class="display">
        <thead>
        <tr>
            <td>Name</td>
            <td>Version</td>
            <td>Concept</td>
        </tr>
        </thead>
        <tbody>
        {% for model in models %}
            <tr ondblclick='window.location.href = "{% url 'dependency_edit' model_id=model.id %}"'>
                <td>{{ model.name }}</td>
                <td>{{ model.version }}</td>
                <td>{{ model.type_programing_concept }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <script>
        $(document).ready(function () {
            $('#data-table').DataTable({"pageLength": 100});
        });
    </script>
{% endblock %}
