{% extends 'base_application_group.html' %}
{% block content %}
    <table id="data-table" class="display">
        <thead>
        <tr>
            <td>Acronym</td>
            <td>Name</td>
        </tr>
        </thead>
        <tbody>
        {% for application_group in application_groups %}
            <tr ondblclick='window.location.href = "{% url 'application_group_edit' model_id=application_group.id %}"'>
                <td>{{ application_group.acronym }}</td>
                <td>{{ application_group.name }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <script>
        $(document).ready(function () {
            $('#data-table').DataTable({"pageLength": 100});
        });
    </script>
{% endblock %}
