{% extends 'base_application.html' %}
{% block title %}Applications{% endblock %}
{% block content %}
    <table id="data-table" class="display">
        <thead>
        <tr>
            <td>Acronym</td>
            <td>Name</td>
            <td>Platform</td>
            <td>Edit</td>
        </tr>
        </thead>
        <tbody>
        {% for application in applications %}
            <tr>
                <td>{{ application.acronym }}</td>
                <td>{{ application.name }}</td>
                <td>{{ application.type_platform }}</td>
                <td><a href="{% url 'application_edit' application_id=application.id %}">Edit</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <script>
        $(document).ready(function () {
            $('#data-table').DataTable();
        });
    </script>
{% endblock %}
