{% extends 'base_release_bundle.html' %}
{% block content %}
    <table id="data-table" class="display">
        <thead>
        <tr>
            <td>Name</td>
            <td>Edit</td>
        </tr>
        </thead>
        <tbody>
        {% for release_bundle in release_bundles %}
            <tr>
                <td>{{ release_bundle.name }}</td>
                <td><a href="{% url 'release_bundle_edit' model_id=release_bundle.id %}">Edit</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <script>
        $(document).ready(function () {
            $('#data-table').DataTable({"pageLength": 100});
        });
    </script>
{% endblock %}
