{% extends 'authenticated/base_authenticated.html' %}
{% block content %}
    <a href="{% url "application_group_new" %}">New</a>
    <table id="data-table" class="display">
        <thead>
        <tr>
            <td>Acronym</td>
            <td>Name</td>
        </tr>
        </thead>
        <tbody>
        {% for model in models %}
            <tr ondblclick='window.location.href = "{% url 'application_group_edit' model_id=model.id %}"'>
                <td>{{ model.acronym }}</td>
                <td>{{ model.name }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <script>
        $(document).ready(function () {
            $('#data-table').DataTable({"pageLength": 100});
        });
    </script>
{% endblock %}
