{% extends "authenticated/base_authenticated.html" %}

{% block content %}
    KPI - by person
    <div class="row">
        <div class="col-md-6">
            <canvas id="velocityChart"></canvas>
        </div>
        <div class="col-md-6">
            <canvas id="accuracyChart"></canvas>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <!-- Chart.js Script -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            fetch("{% url 'kpi:ajax_get_chart_data_for_user' person.enumeration_attack_uuid %}")
                .then(response => response.json())
                .then(data => {
                    var ctxVelocity = document.getElementById('velocityChart').getContext('2d');
                    new Chart(ctxVelocity, {
                        type: 'line',
                        data: {
                            labels: data.labels,
                            datasets: [{
                                label: 'Velocity',
                                data: data.velocity,
                                borderColor: '#4ECDC4',
                                fill: false
                            }]
                        }
                    });

                    var ctxAccuracy = document.getElementById('accuracyChart').getContext('2d');
                    new Chart(ctxAccuracy, {
                        type: 'line',
                        data: {
                            labels: data.labels,
                            datasets: [{
                                label: 'Accuracy',
                                data: data.accuracy,
                                borderColor: '#FF6384',
                                fill: false
                            }]
                        }
                    });
                });
        });
    </script>
{% endblock %}