{% extends "authenticated/base_authenticated.html" %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <h2 class="mb-0">Developers List</h2>
        </div>

        <div class="card-body">
            <table id="data-table" class="table table-hover mb-0">
                <thead>
                <tr>
                    <td>Name</td>
                    <td>Username</td>
                    <td>Position</td>
                    <td>Base Capacity</td>
                </tr>
                </thead>
                <tbody>
                {% for person in people %}
                    <tr ondblclick='window.location.href = "{% url 'kpi:kpi_person' uuid=person.enumeration_attack_uuid %}"'>
                        <td>{{ person.full_name_for_sort }}</td>
                        <td>{{ person.gitlab_sync_username }}</td>
                        <td>{{ person.type_job_title }}</td>
                        <td>{{ person.coerced_base_capacity }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="4" class="text-center py-4">No developers found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        $(document).ready(function () {
            $('#data-table').DataTable({"pageLength": 100});
        });
    </script>
{% endblock %}